body {
  font-family: "Poppins", sans-serif !important;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-size: 0.75rem;
}

h1 {
  font-size: 3rem !important;
  font-weight: 800 !important;
}

h5 {
  font-size: 1rem !important;
  font-weight: 600 !important;
}

h2 {
  font-size: 2rem !important;
  font-weight: 800 !important;
  margin-top: 50px !important;
}

.navbar-light a.navbar-brand {
  font-weight: 900;
  font-size: 48px;
  line-height: 72px;
  letter-spacing: 1px;
  color: #121c33;
}

.nav-tabs .nav-link {
  font-weight: 600;
  color: rgba(18, 28, 51, 0.6);
}

.nav-tabs .nav-link.active {
  font-weight: 700;
  color: rgba(18, 28, 51, 1);
}

#planet-img {
  width: 120px;
  height: 120px;
  display: flex;
  margin: 0 auto;
}

.card {
  border-radius: 16px !important;
  margin-bottom: 25px;
}

#modal-popup {
  scroll-behavior: smooth;
  margin: 0px;
  position: fixed;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  top: 0px;
  right: 0px;
  left: auto;
  width: 408px;
  transform: none;
  background: rgb(255, 255, 255);
  border-radius: 5%;
  border: unset;
  padding: 20px;
  visibility: visible;
}

.char-img {
  border-radius: 16px 16px 0 0 !important;
}

#planet-loader {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.button-bg {
  background-color: rgba(18, 28, 51, 0.1) !important;
  color: #121c33 !important;
  border: none !important;
  border-radius: 15% !important;
}

.close-btn {
  position: absolute;
  top: 30px;
  right: 30px;
}

.list-img {
  width: 72px;
  height: 72px;
  object-fit: cover;
  object-position: center;
  margin-right: 16px;
  border-radius: 8px;
}

.lighter-text {
  color: rgba(18, 28, 51, 0.6);
  font-weight: 400 !important;
}

.ref {
  position: relative;
}

.add-btn {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #121c33;
  position: absolute;
  bottom: 27px;
  right: 1%;
}

.modal-dialog .modal-header,
.modal-dialog .modal-footer {
  border: none;
}

.modal-dialog .modal-content {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  width: 90%;
  max-width: 752px;
  margin: 0 auto;
  padding: 2.5em;
  display: flex;
  justify-content: center;
  border-radius: 4.25%;
}
